
.pct_w_1 { width: 1%; }
.pct_w_2 { width: 2%; }
.pct_w_3 { width: 3%; }
.pct_w_4 { width: 4%; }
.pct_w_5 { width: 5%; }
.pct_w_6 { width: 6%; }
.pct_w_7 { width: 7%; }
.pct_w_8 { width: 8%; }
.pct_w_9 { width: 9%; }
.pct_w_10 { width: 10%; }
.pct_w_11 { width: 11%; }
.pct_w_12 { width: 12%; }
.pct_w_13 { width: 13%; }
.pct_w_14 { width: 14%; }
.pct_w_15 { width: 15%; }
.pct_w_16 { width: 16%; }
.pct_w_17 { width: 17%; }
.pct_w_18 { width: 18%; }
.pct_w_19 { width: 19%; }
.pct_w_20 { width: 20%; }
.pct_w_21 { width: 21%; }
.pct_w_22 { width: 22%; }
.pct_w_23 { width: 23%; }
.pct_w_24 { width: 24%; }
.pct_w_25 { width: 25%; }
.pct_w_26 { width: 26%; }
.pct_w_27 { width: 27%; }
.pct_w_28 { width: 28%; }
.pct_w_29 { width: 29%; }
.pct_w_30 { width: 30%; }
.pct_w_31 { width: 31%; }
.pct_w_32 { width: 32%; }
.pct_w_33 { width: 33%; }
.pct_w_34 { width: 34%; }
.pct_w_35 { width: 35%; }
.pct_w_36 { width: 36%; }
.pct_w_37 { width: 37%; }
.pct_w_38 { width: 38%; }
.pct_w_39 { width: 39%; }
.pct_w_40 { width: 40%; }
.pct_w_41 { width: 41%; }
.pct_w_42 { width: 42%; }
.pct_w_43 { width: 43%; }
.pct_w_44 { width: 44%; }
.pct_w_45 { width: 45%; }
.pct_w_46 { width: 46%; }
.pct_w_47 { width: 47%; }
.pct_w_48 { width: 48%; }
.pct_w_49 { width: 49%; }
.pct_w_50 { width: 50%; }
.pct_w_51 { width: 51%; }
.pct_w_52 { width: 52%; }
.pct_w_53 { width: 53%; }
.pct_w_54 { width: 54%; }
.pct_w_55 { width: 55%; }
.pct_w_56 { width: 56%; }
.pct_w_57 { width: 57%; }
.pct_w_58 { width: 58%; }
.pct_w_59 { width: 59%; }
.pct_w_60 { width: 60%; }
.pct_w_61 { width: 61%; }
.pct_w_62 { width: 62%; }
.pct_w_63 { width: 63%; }
.pct_w_64 { width: 64%; }
.pct_w_65 { width: 65%; }
.pct_w_66 { width: 66%; }
.pct_w_67 { width: 67%; }
.pct_w_68 { width: 68%; }
.pct_w_69 { width: 69%; }
.pct_w_70 { width: 70%; }
.pct_w_71 { width: 71%; }
.pct_w_72 { width: 72%; }
.pct_w_73 { width: 73%; }
.pct_w_74 { width: 74%; }
.pct_w_75 { width: 75%; }
.pct_w_76 { width: 76%; }
.pct_w_77 { width: 77%; }
.pct_w_78 { width: 78%; }
.pct_w_79 { width: 79%; }
.pct_w_80 { width: 80%; }
.pct_w_81 { width: 81%; }
.pct_w_82 { width: 82%; }
.pct_w_83 { width: 83%; }
.pct_w_84 { width: 84%; }
.pct_w_85 { width: 85%; }
.pct_w_86 { width: 86%; }
.pct_w_87 { width: 87%; }
.pct_w_88 { width: 88%; }
.pct_w_89 { width: 89%; }
.pct_w_90 { width: 90%; }
.pct_w_91 { width: 91%; }
.pct_w_92 { width: 92%; }
.pct_w_93 { width: 93%; }
.pct_w_94 { width: 94%; }
.pct_w_95 { width: 95%; }
.pct_w_96 { width: 96%; }
.pct_w_97 { width: 97%; }
.pct_w_98 { width: 98%; }
.pct_w_99 { width: 99%; }
.pct_w_100 { width: 100%; }
.pct_w_101 { width: 101%; }
.pct_w_102 { width: 102%; }
.pct_w_103 { width: 103%; }
.pct_w_104 { width: 104%; }
.pct_w_105 { width: 105%; }
